<div [ngSwitch]="alerta">
    <div *ngSwitchCase=1>Info</div>
    <div *ngSwitchCase=2>Warning</div>
    <div *ngSwitchCase=3>Sucess</div>
    <div *ngSwitchCase=4>Danger</div>
    <div *ngSwitchDefault>output2</div>
</div>

<button type="button" (click)="cambio()" class="btn btn-primary"> Cambiar </button>

<div [ngSwitch]="alerta">

    <div *ngSwitchCase="1" class="alert alert-success" role="alert">
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div *ngSwitchCase="2" class="alert alert-info" role="alert">
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div *ngSwitchCase="3" class="alert alert-warning" role="alert">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div *ngSwitchCase="4" class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
</div>