<div class="container main-container">

    <h1>Demo <small>Angular</small></h1>
    <hr>

    <!-- <app-ng-style></app-ng-style>-->
    <!-- <app-css></app-css>-->
    <!--<app-clases></app-clases>-->

    <!--<p [appResaltado]="'blue'">
        Esto es una prueba de directiva
    </p>-->
    <app-ng-switch>

    </app-ng-switch>



</div>