<div [ngClass]="alerta" class="alert" role="alert">
    <strong>Well done!</strong> You successfully read this important alert message.
</div>

<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">Info </button>
<button type="button" class="btn btn-success" (click)="alerta = 'alert-success'">Success </button>

<br><br>

<h3 [ngClass]=" { 'text-danger': propiedades.danger , 'text-info': !propiedades.danger } ">
    .Hola mundo
</h3>

<button [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}" (click)="propiedades.danger = !propiedades.danger" tipe="button" name="button" class="btn">
Cambiar 
</button>
<br><br>

<h3>Proceso asíncrono </h3>

<button (click)="ejecutar()" class="btn btn-primary" type="button" name="button" [disabled]="loading">
    
    <i [ngClass]="{ 'fa-save': !loading, 'fa-sync fa-spin':loading }"
        class="fas"></i>
     <span *ngIf="!loading"> Guardar cambios</span>
     <span *ngIf="loading"> Espere por favor</span>
 </button>